{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>A propos</h1>
        </div>

        <div class="row">
            <div class="col s12">
                <h2><strong>Salut !</strong></h2>

                <p>Le but de ce site est de vous aider à connaître les sortie de films passées et futures.</p>
                <p>Je vais vous montrer comment faire.</p>
                <p>Types, Acteurs, auteurs, synopsis : vous êtes au bon endroit</p>

                <p>Je me suis demandé pourquoi un visiteur voudrait lire cette page… Hmmm, laissez-moi deviner, je vais sortir ma boule de cristal.</p>
                <p>Vous êtes un vrai fan de films. J'ai bon? Mais cvous n'êtes pas la bibliothèque que vous espériez devenir..</p>
                <p>Alors vous avez continué à publier du bon contenu, pour vraiment aider vos lecteurs, pour vraiment développer votre audience. Article après article.</p>
                <p>Dur travail, mais vous sentez que votre cerveau est sur le point d'exploser, non?</p>

                <p><strong>CinéMove est là pour toi.</strong></p>

                <p>La qualité sur Internet est variable. Je dis variable pour être poli. Contenu médiocre. Il y a probablement des fans moins bon que vous, mais qui ont plus de succès.</p>
                <p>Monde cruel.</p>

                <p>Lance toi et partage tes connaissances inspirées en visitant les pages de CinéMove</p>

            </div>
        </div>

    </div>

{% endblock %}