{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <h1>Termes et Conditions Générales</h1>
        </div>

        <div class="row">
            <div class="col s12">

                <p>Le site cinemove.com est un blog de la société Cibyx-Technology, Micro-entreprise au capital de 2000 euros.</p>
                <ul>
                    <li>Adresse: 31b rue Grande, 77670 Saint Mammes</li>
                    <li>Numéro de Siret: 795 033 901 000399</li>
                    <li>Non soumis à la TVA</li>
                    <li>Directeur de la publication: Julien GRIMA</li>
                    <li>Le site est hébergé par O2switch</li>
                </ul>
                <p>Contact: <a class="fontref" href="mailto:qq1@qqpart.com">cinemove@gmail.com</a> </p>
                <p><strong>Article 1 – Champs d’Application et Modification des Conditions Générales</strong></p>

                <p><strong>Article 2 – Responsabilité</strong></p>
                <p>L’utilisation du site CinéMove requiert que vous disposiez des compétences, des matériels et des logiciels requis. Vous reconnaissez que les caractéristiques et les contraintes d’Internet ne permettent pas de garantir la sécurité, la disponibilité et l’intégrité des transmissions de données sur Internet.</p>
                <p>Cinemove.com n’encourt aucune responsabilité :</p>
                <ul>
                    <li>en cas de transmission par inadvertance d’un virus informatique</li>
                    <li>relative au contenu des documents qui est de la responsabilité pleine et entière du client. Traficmania.com s’appuie exclusivement sur des informations communiquées par le client pour effectuer les prestations commandées</li>
                    <li><strong>en ce qui concerne les résultats financiers du client, incluant sans limitation des baisses de profits ou de chiffre d'affaire, de revenus anticipés, de contrats commerciaux.</strong></li>
                </ul>

                <p>Cinemove.com ne garantit pas que les services fonctionneront sans interruption ni erreur de fonctionnement. L’accès au site pourra être interrompu pour cause de maintenance, de mises à jour ou d’améliorations techniques.</p>
                <p>Cinemove.com ne saurait également être tenu responsable d’un non-fonctionnement, d’une impossibilité d’accès, ou de mauvaises conditions d’utilisation du site imputables à un équipement non adapté, à des dysfonctionnements internes au fournisseur d’accès de l’utilisateur, à l’encombrement du réseau Internet, et pour toutes autres raisons extérieures à Cinemove.com.</p>


                <p>L’ensemble du contenu du site Cinemove.com est protégé par le droit de la propriété intellectuelle. L’utilisateur s’engage à ne pas modifier, reproduire, copier, republier, télécharger, mettre en ligne, transmettre, vendre ou distribuer d’aucune manière que ce soit le contenu de Cinemove.com, sans autorisation écrite de l’éditeur du site. Dans le cas contraire, l’utilisateur s’expose à des poursuites judiciaires.</p>
                <p><strong>Article 3 - Compétence des tribunaux</strong></p>
                <p>En étant client du site CinéMove, vous acceptez sans réseve que les tribunaux compétents pour régler un éventuel litige seront les tribunaux Français.</p>

            </div>
        </div>

    </div>










{% endblock %}