{% extends 'layout.html.twig' %}

{% block body %}

    <article>
        <div class="awr">
            <a class="cmt acm" href="https://traficmania.com/a-propos/#comments"
               style='display:none;'>
                0 <span class="trg"></span>
            </a>


            <h1 class="entry-title">A propos</h1>


            <!--<a class="aIm pst right"> <img src="https://traficmania.com/wp-content/uploads/2015/03/photo-fcebook5-220x165.jpg" alt="" title=""></a>-->
            <img class="afim pst right" src="https://traficmania.com/wp-content/uploads/2015/03/photo-fcebook5-220x165.jpg" alt=""
                 title="A propos">
            <h2><strong>Salut !</strong></h2>
            <p>Le but de ce site est de vous aider à avoir plus de visiteurs et de clients.</p>
            <p>Je vais vous montrer comment faire.</p>
            <p>Blogging, trafic, conversion, monétisation. Vous êtes au bon endroit.</p>
            <p>Je me suis demandé pourquoi un visiteur voudrait lire cette page… Hmmm, laissez-moi deviner, je vais sortir ma boule de cristal.</p>
            <p>Vous avez un blog. J'ai bon? Mais ce n’est pas encore la machine à trafic que vous espériez. Vous étiez ravi d’avoir vos premiers visiteurs, et de voir que certains revenaient sur votre site. Bien. C’est déjà un très un bon signe.</p>
            <p>Alors vous avez continué à publier du bon contenu, pour vraiment aider vos lecteurs, pour vraiment développer votre audience. Article après article.</p>
            <p>Dur travail, mais le trafic devait bien finir par apparaitre, non?</p>
            <p>Mais hélas…rien. Pas d'effet boule de neige. Pas d’explosion de trafic, peu de partages, et juste quelques commentaires d’autres blogueurs qui essayent de placer leur lien.</p>
            <p><strong>Normal.</strong></p>
            <p>Le trafic internet ne fonctionne PAS comme cela.</p>
            <p>Ce n'est pas la bonne tactique. Vous auriez plus de succès en vous tatouant le nom de votre blog sur les fesses et en courant nu sur un parking. 100 000 vues Youtube garanties.</p>
            <p>160 millions de blogs sur la planète. 15 millions en Français. Votre contenu est sans doute bon, mais « bon » ne suffit pas. Il y a trop de monde en ligne. Votre site, c’est un grain de sable sur une plage du Pas de Calais.</p>
            <h2>Et pourtant, c'est injuste:</h2>
            <p>La qualité sur Internet est variable. Je dis variable pour être poli. Contenu médiocre,  astuces dépassées et répétées à l’envie, boîtes mails inondées. Il y a probablement des blogueurs moins bon que vous, mais qui ont plus de succès.</p>
            <p>Monde cruel.</p>
            <p>La bonne nouvelle, c'est que vous pouvez y arriver, en utilisant les bonnes méthodes.</p>
            <p>Laissez-moi vous poser une question : a quand remonte la dernière fois qu'un article de blog vous a mis sur les fesses? Vous ne vous souvenez plus ?</p>
            <p>J’ai créé Trafic Mania pour vous mettre sur les fesses, toutes les semaines.</p>
            <p>Salut. Je suis André Dubois. Je vais vous montrer comment avoir plus de trafic. Je vais vous montrer comment faire grandir votre mailing list. Je vais vous montrer comment devenir une référence de votre thématique et comment convertir vos lecteurs en clients.</p>
            <h2>En voilà plus sur moi:</h2>
            <p>La première chose que vous devez savoir sur moi, c’est je blogue depuis 2010, et que c’est mon unique source de revenu depuis l’automne 2013. C’est suffisant pour habiter un 120 m² dans un quartier sympa de Lyon et élever deux enfants.</p>
            <p>Et surtout, surtout, cela permet d’être son propre patron.</p>
            <p>Et ça croyez moi, ça, c'est le pied intersidéral.</p>
            <p>Ma vie était celle d'un banal cadre sup de l'industrie, avant qu’un ouragan ne la retourne de fond en comble.</p>
            <p>Passons vite. J’ai grandi dans le Nord. J’ai fait de longues études. J’ai bossé 10 ans chez des fleurons de l’industrie. D’abord en tant qu’ingénieur, puis en tant que responsable. Bon salaire, bon job. Je me suis marié et nous avons eu deux enfants. Banal, je vous dis.</p>
            <p>J’aimais mon boulot, mais il y avait une petite voix qui disait sans arrêt « monte ta boîte, monte ta boîte ». Mais vous savez ce que c’est, on a son confort de vie, son train-train, sa voiture de fonction, et une paye confortable qui tombe tous les mois. Pourquoi prendre un tel risque ?</p>
            <p>J’ai monté mes premiers blogs dès 2010. Pour le fun. Parce que j’aime écrire. Vraiment.</p>
            <h2>Mes autres blogs, et ce que vous pouvez en apprendre:</h2>
            <p><strong>Mon premier blog, Gestion &amp; Encadrement :</strong></p>
            <p>Horrible nom, n’est-ce pas ? Il n’empêche que j’ai amené ce blog dédié aux recrutements, aux CV et aux lettres de motivation à plus de 1500 visiteurs par jour en 6 mois.</p>
            <p>Ce que j’ai appris avec ce blog :</p>
            <ul>
                <li>Le contenu de qualité est un vecteur de trafic génial. J’écrivais des articles de 2000 à 3000 mots, avec des astuces concrètes à mettre en place pour trouver un emploi. Les gens adoraient et partageaient ce contenu comme des dingues.</li>
                <li>L’esthétique du site compte peu. Ce blog était laid mais avait pourtant un trafic sérieux.</li>
                <li>La niche est la clé du succès. J’ai essayé de monétiser ce blog à l’automne 2013. Cela a raté et j’ai fermé le site. Pourquoi ? Je parlais recrutement <span style="text-decoration: underline;">en général</span>. Si j’avais expliqué comment rentrer dans le monde du cinéma, ou comment devenir cadre chez Airbus, cela aurait marché. Les gens aimaient le contenu, mais il n’était pas assez spécifique pour générer un achat.</li>
            </ul>
            <p><strong>Mon second blog, <a href="http://leblogduballtrap.fr/site/">Le blog du balltrap</a> :</strong></p>
            <p>Le tir aux pigeons d’argiles est ma passion. C’est comme le golf, mais avec des fusils. Très relaxant, un peu bruyant. Ce blog est le plus gros site francophone sur le sujet et ma source de revenue depuis l’automne 2013. J’ai une mailing list qui regroupe près du tiers des pratiquants Français de ce sport (faites le calcul avec votre mailing list et votre thématique).</p>
            <p>Ce que j’ai appris avec ce blog :</p>
            <ul>
                <li>Le taux de conversion est plus important que le trafic. On peut générer de jolis revenus avec un petit trafic de fidèles.</li>
                <li>Cela a confirmé que la niche est la clé du succès.</li>
                <li>Il faut tester et s’organiser. J’ai créé plus de 30 produits d’informations en un an sur ce site. Cela m’a permis de tester ce qui marche, et ce qui ne marche pas.</li>
            </ul>
            <p><b>et hélas, les autres blogs que j'ai lancé, ratés, fermés...dans mon long apprentissage du blogging.</b></p>
            <h2>L'ouragan de l'automne 2013:</h2>
            <p>Pourquoi ai-je quitté mon train-train confortable pour devenir blogueur professionnel? Pourquoi j’ai monétisé mes blogs à l’automne 2013 ? Je n’avais plus le choix, tout simplement.</p>
            <p>L'histoire (l'ouragan, devrais-je dire) commence un an plus tôt, en 2012.</p>
            <p>Il y a quelque chose avec mon fils de 2 ans, il nous inquiète. Il ne regarde personne dans les yeux. Il ne parle pas. Il aligne ses jouets mais ne joue jamais avec. Il semble sourd mais déboule dès qu’il entend le bruit d’un paquet de gâteaux qui s'ouvre. Il hurle de terreur à vous péter les tympans dès que nous ne prenons pas le chemin habituel.</p>
            <p>Nous consultons.</p>
            <p>Le diagnostic, abominable, tombe comme une hache. Autisme sévère. Le sol s’effondre sous nos pieds. Tout bascule. Je découvre le sens du mot « souci ».</p>
            <p>Ma femme doit quitter son emploi pour s’occuper de notre garçon. Pas d'autre choix.  C’est dur. Et ce n’est que le début.</p>
            <p>Automne 2013, épuisé, je perds mon emploi.</p>
            <p>L’ouragan est là. Nous sommes à deux doigts de plonger. Pas de job, un gamin qui demande plus d’énergie que des quadruplés, un enfer administratif, un loyer cher. Je tape dans mon épargne. J'ai besoin de trouver une solution pour gérer cela. Heureusement que ma fille aînée, mon petit ange, est là.</p>
            <p>Je comprends que monétiser mes blogs est la seule issue possible pour gagner ma vie ET avoir du temps pour aider mon fils. La peur au ventre, je me lance comme si ma vie en dépendait. Je définis une stratégie de vente…</p>
            <p>Et…ca marche ! Je fais de ventes immédiatement.</p>
            <p>Je bosse depuis mon salon ou ma terrasse depuis 2013. L’hiver, je prends mon laptop et je bosse depuis les pistes de ski. Au printemps, 4 heures de voiture et j’écris depuis la Catalogne.</p>
            <p>Je décide.</p>
            <p>Je gère mon temps comme il me plait. Je ne reçois plus d’ordre de personne.</p>
            <p>Cette liberté, c’est ce qu’il y a de mieux avec le blogging. Bien sûr, quand vous vendez beaucoup, vous êtes ravi car le compte PayPal explose. Mais ce n’est pas le mieux.</p>
            <p>Le mieux, c’est l’indépendance, la liberté.</p>
            <p>Si j’ai réussi à monétiser mes sites avec succès en vivant de tels moments, vous pouvez le faire. J’ai failli tout perdre. Mais j’ai trouvé un diamant dans un ouragan.</p>
            <h2>Votre blog :</h2>
            <p>Vous voulez juste plus de trafic. Ou bien vous voulez développer un revenu complémentaire passif. Ou alors vous voulez carrément vous lancer dans le grand bain du blogging professionnel.</p>
            <p>C’est cool.</p>
            <p>C’est faisable. Oui, vous pouvez le faire.</p>
            <p>Ce qu’il faut comprendre, c’est comment marche le business en ligne, et bosser.</p>
            <p>Vous et moi, nous allons faire ce travail. Pour que vous ayez le succès que vous méritez.</p>
            <p>Pourquoi attendre. Commençons maintenant. Inscrivez-vous ci-dessous, que je vous montre comment on fait connaitre un blog, pour avoir du trafic.</p>
            <p>Ensuite, je vous enverrai deux ou trois mails par mois (pas plus). Pas de baratin. Que les meilleures stratégies, qui fonctionnent et que vous pourrez appliquer dans la foulée.</p>
            <p><a href="https://traficmania.com/61-methodes-de-promotion-de-blog-xzy/">Téléchargez les 61 méthodes de promotion en cliquant ici.</a></p>
            <div class="clear"></div>
        </div>
    </article>

{% endblock %}