{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}

    {{ render(controller('AppBundle:Header:index')) }}

{% endblock %}

{% block footer %}

    <footer class="page-footer backcontent">
        <div class="container">
            {# FACEBOOK LINK BOUTON #}
            <div class="row">
                <div class="col s12 m2 l2">
                    <div class="facebook">
                         <a href="https://www.facebook.com/CybixTechnology/">
                             <img src="{{ asset('bundles/calendar/images-colorpicker/facebook.png') }}" class="temp-fb">
                         </a>
                    </div>
                </div>

                {# PARTNERS LINK #}
                <div class="col s12 m6 l6 center">
                    <h5 class="white-text">Partenaires</h5>
                    <ul>
                        <li>
                            <a href="https://www.allocine.fr/">Allociné</a>
                        </li>
                    </ul>
                </div>

                <!-- CONTACT ADDRESS -->
                <div class="col s12 m4 l4">
                    <div class="font-size contact">
                        <ul>
                            <li>CinéMove</li>
                            <li>31b rue Grande</li>
                            <li>77670 Saint Mammes</li>
                            <li>tèl : 06 51 98 86 13</li>
                            <li><a class="fontref" href="mailto:qq1@qqpart.com">cinemove@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {# COPYRIGHT AND ADMIN BOUTON #}
        <div class="footer-copyright">
            <div class="container font-href-foot center-align">
                <a href="{{ path('fos_user_security_login') }}" class="login">©</a>
                <a href="https://www.linkedin.com/in/julien-grima-927612129/" class="fontref">
                    Créé et géré par Julien Grima
                </a>
            </div>
        </div>
    </footer>

{% endblock %}