/********************************************************************************************************************/

/*                                                     RESPONSIVE                                                   */

/********************************************************************************************************************/


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/********************************************************************************************************************/

/*                                                        GENERAL                                                   */

/********************************************************************************************************************/

input{
    width: 300px !important;
    opacity: 1 !important;
}

p{
    font-size: larger;
}

.plus-icon{

    width: 45px;
    height: 45px;
}
.plus-icon-index{

    width: 25px;
    height: 25px;
}

.warning{

    width: 350px;
    height: 250px;

}

#test5{
    margin-top: 10px !important;
    width: 30px !important;
    height: 30px;
}

button{
    border: none;
    background: none;
}

.font-slide{
    color: #546e7a;
}

.font-href-foot{
    color: white;
}

.select-dropdown{
    overflow-y: auto !important;
}


/*******************************************************/
/*                                                     */
/*                                                     */
/*                   LAYOUT                            */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ NAV BAR **********************/
/*******************************************************/
/*******************************************************/
.decal {
    margin-left: 30px;
}

.fsize {
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}

.backnav, .backfoot {
    background-color: black !important;
}

/* Extension TITRE */
.page-footer {
    background-color: #546e7a !important;
    position: sticky;
    top: 100%;
}

.navbutton {
    background-color: black;
    border-color: #546e7a;
}

.navbutton:hover {
    background-color: #546e7a;
}

.f-size {
    font-size: 70px !important;
    color: white;
}
.bouton-new-gallery{
     width: 30px !important;
     height: 30px !important;
 }
.bouton-new-gallery-icon{
    margin-top: -12px;
}

.material-icons-size{
    margin-left: 40px !important;
    font-size: 40px !important;
}

.marginright {
    margin-right: 7%;
}

/* Extension TITRE */
.backcontent {
    background-color: #546e7a !important;
}

.navbutton {
    background-color: black;
    border-color: #546e7a;
}

.navbutton:hover {
    background-color: #546e7a;
}

.f-size {
    font-size: 70px !important;
    color: white;
}

.font-size{
    font-size: 15px;
}

.fontref{
    color: darkgrey;
}

.fontref:hover{
    color: #03a9f4;
}

/*******************************************************/
/*******************************************************/
/************************ FOOTER ***********************/
/*******************************************************/
/*******************************************************/
body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    font-family: 'Hind Siliguri', sans-serif;
}

main {
    flex: 1 0 auto !important;
}

.valign{
    padding-top: 25%;

}

.valign-li{
    padding-top: 3%;
}

.contact{
    margin-left: 30%;
}

.temp-fb{
    margin-top: 30%;
    width: 50%;
    height: auto;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                     ACCUEIL                         */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/*********************** CAROUSEL **********************/
/*******************************************************/
/*******************************************************/
.marge {
    margin-top: 94px;
}

.slider{
    z-index: -20;
}

.slider .indicators .indicator-item.active {
    background-color: #9F9F9F;
}

.random-pic{
    height: 30%;
    width: 30%;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                     ACCUEIL                         */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/*********************** CAROUSEL **********************/
/*******************************************************/
/*******************************************************/
.marge {
    margin-top: 94px;
}

.image-wrap {
    position: relative;
    top: -105%;
    z-index: -1;
    width: 100%;
    height: auto;
}

.href-wrap{
    z-index: -1;
}

.video-wrap{
    width: 60%;
    height: auto;

}

.video-wrap-slide{
    width: 100%;
    height: 100%;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                        LOGIN                        */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ LOGIN ************************/
/*******************************************************/
/*******************************************************/
    .login{
        color: white;
    }
    .login:hover{
        color: white;
    }

/*******************************************************/
/*                                                     */
/*                                                     */
/*                       HEADER                        */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************* NEW *************************/
/*******************************************************/
/*******************************************************/
.header-marge {
    margin-top: 145px;
}

.header-buttom-marge {
    margin-top: 60px;
}

.header-title{
    font-family: 'Permanent Marker', cursive;!important;
}

/*******************************************************/
/*******************************************************/
/******************** SHOW ALL *************************/
/*******************************************************/
/*******************************************************/
.decal{
    margin-left: 50px;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                       CATEGORY                      */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ INDEX ************************/
/*******************************************************/
/*******************************************************/

.box-size{
    display: flex;
    float: right;
    width: 20%;
}

.disposition2{
    width: 30%;
    float: right;
}

/*******************************************************/
/*******************************************************/
/************************ EDIT *************************/
/*******************************************************/
/*******************************************************/

.disposition{
    display: flex;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                       MOVIES LIST                   */
/*                                                     */
/*                                                     */
/*******************************************************/

.picsize{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    /*margin-left: 1.5%;*/
    /*margin-top: 1.5%;*/
}

.picratio{
    width: 90%;
    height: auto;

    -webkit-box-shadow: 20px 20px 46px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 46px -17px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 46px -17px rgba(0,0,0,0.75);

    border-radius: 50px;
}

.picratio-modal{
    width: 50%;
    height: auto;
}

.video-position-modal{
    padding-top: 50px;
    margin-top: 50px;
}

.picsize-listindex{
    height: 100px;
    width: 200px;
}

.back-picture{
    height: 210px;
    width: 310px;
    background-color: #9F9F9F;
    border-radius: 20px;
    box-shadow: 8px 8px 12px #aaa;
}

.view{
    background-color: #9F9F9F;
    border-radius: 20px;
}

.grid_view {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}

.grid-item {
    width: 200px;
}

.row-position-btAddMovie{
    position: sticky;
    top: 90%;
    left: 50%;

}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                 MOVIES NEW / EDIT                   */
/*                                                     */
/*                                                     */
/*******************************************************/

.upload_file_event{
    display: none;
    transition: 1.5s;
}

.upload_file_event .preload{
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 50%;
    left: 50%;
}